@charset "utf-8";
main {
  width: 100%;
  height: 100%;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
}
main nav {
  width: 22%;
  height: 12.64rem;
  border-right: 1px solid #ebebeb;
}
main nav .leftnav {
  width: 100%;
  height: 10.4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main nav .leftnav li {
  width: 100%;
  box-sizing: border-box;
  height: 0.52rem;
  line-height: 0.52rem;
  text-align: center;
}
/* main nav .leftnav li:hover {
  border-left: 0.08rem solid #f26b11;
}
main nav .leftnav li:hover a {
  color: #f26b11;
} */
main nav .leftnav li a {
  font-size: 0.3rem;
  color: #666666;
}
main .rightlist {
  width: 88%;
  height: 10.4rem;
}
main .rightlist .category {
  width: 100%;
  height: 6.15rem;
}

main .rightlist .category .list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
main .rightlist .category .list li {
  width: 50%;
  height: 2rem;
  padding-top: 0.3rem;
}
main .rightlist .category .list li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .rightlist .category .list li a img {
  display: block;
  width: 1.51rem;
  height: 1.51rem;
}
main .rightlist .category .list li a span {
  font-size: 0.25rem;
  color: #878787;
}